@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
/*Estilos para el encabezado*/
.header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;left: 0;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.container .btn-menu, .logo{
    float: left;
    line-height:10px;
}
.container .btn-menu label{
    color: rgb(8, 8, 8);
    font-size: 25px;
    cursor: pointer;
}
.logo h1{
    color: rgb(3, 3, 3);
    font-weight: 400;
    font-size: 22px;
    margin-left: 1px;
}
.container .menu{
    float: right;
    line-height: 100px;
}
.container .menu a{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}
.container .menu a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}
/*Fin de Estilos para el encabezado*/

/*Menù lateral*/
#btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
/*Fin de Menù lateral*/

body{
    background-color: rgb(247, 8, 8);
    background-image: url(https://arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/ZKB2CT3VHBBW3FRYATCDVTGMYE.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.agregand{
    width: 350px;
    background: rgb(0, 0, 0, 0.5);
    padding: 10px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.agregand h4{
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.controls{
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 50px;
    border: 10px solid white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

.agregand .botons{
    width: 100%;
    background: black;
    padding: 10px;
    color: aliceblue;
    border-radius: 20px;
    margin-bottom: 50px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;    
}

div {
    width: 33.33%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
  }