<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas</title>
    <link rel="stylesheet" href="../static/receta.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    {% extends 'layaot.html' %}
    {% block body %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <script>
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: '{{ message }}',
                    showConfirmButton: false,
                    timer: 3000
                })
            </script>

        {% endfor %}
    {% endif %}
    {% endwith %}

    <section class="tabla">
        <table>
            <thead>
                <tr>
                    <td>Diagnostico: </td>
                    <td>Sintomas: </td>
                    <td>Estudio: </td>
                    <td>Tratamiento: </td>
                    <td>Opciones: </td>
                </tr>
            </thead>
        
            <tbody>
                {%for sir in Sirc%}
                <tr>
                    <td>{{ sir.1 }}</td>
                    <td>{{ sir.2 }}</td>
                    <td>{{ sir.3 }}</td>
                    <td>{{ sir.4 }}</td>
                    <td>
                        <a href="/editar/{{ sir.0 }}"><button type="button" class="btn btn-primary"><img src="/static/imprimir (1).png"></button></a>
                        <a href="/eliminar/{{ sir.0 }}"><button type="button" class="btn btn-danger"><img src="/static/borrar.png"></button></a>
                    </td>
                </tr>
                {%endfor%}
        
        </table>

        <section class="agregand">
            <a href="/DpersonalR"><button type="button" class="btn btn-success">Agregar</button></a>
            <a href="/DpersonalA"><button type="button" class="btn btn-success">Datos Pesonales</button></a> 
        </section>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>    

{% endblock %}
</body>
</html>