<p style="text-align: center;"><span style="color: #000080;"><strong><img style="float: left;" src="https://svgsilh.com/svg_v2/295067.svg" alt="" width="25" height="32" />Receta<img style="float: right;" src="https://svgsilh.com/svg_v2/295067.svg" alt="" width="24" height="30" /></strong></span></p>
<hr />
<p style="text-align: left;">Nombre: {{Paciente}}</p>
<p style="text-align: left;">Fecha Nacimiento: {{Fechan}}</p>
<p style="text-align: left;">Enfermedades: {{Enfe}}</p>
<p style="text-align: left;">Alergias: {{Aler}}</p>
<p style="text-align: left;">Fecha de Consulta: {{Fecha}}</p>
<p style="text-align: left;">Altura: {{Altura}}</p>
<p style="text-align: left;">Peso: {{Peso}}</p>
<p style="text-align: left;">Temperatura: {{Temp}}</p>
<p style="text-align: left;">Latidos X Minuto: {{Lat}}</p>
<p style="text-align: left;">Saturacion de Oxigeno y Glucosa: {{Sat}}</p>
<p style="text-align: left;">Medico: {{Medico}}</p>
<hr />
<p style="text-align: left;">Diagnostico: {{Dx}}</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">Sintomas: {{Sintomas}}</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">Estudio: {{Estudio}}</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">Tratamiento: {{Trata}}</p>
<p style="text-align: left;">&nbsp;</p>